<mat-toolbar color="primary">Chit - Management And Tracker</mat-toolbar>

<mat-divider [inset]="true"></mat-divider>

<mat-expansion-panel  class='"nag-expansion-panel"'>
  <mat-expansion-panel-header>
    <mat-panel-title style="font-weight: bold;color: green">
      Active Chits
    </mat-panel-title>
    <mat-panel-description style="font-weight: bold;color: green">
      Current Running Chit Detilas
    </mat-panel-description>
  </mat-expansion-panel-header>

  <table mat-table [dataSource]="chitsDataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="chitName">
      <th mat-header-cell *matHeaderCellDef> Chit Name </th>
      <td mat-cell *matCellDef="let element"> {{element.chitName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element">{{element.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element">{{element.endDate | date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
</mat-expansion-panel>

<mat-divider [inset]="true"></mat-divider>

<mat-expansion-panel  class='"nag-expansion-panel"'>
  <mat-expansion-panel-header>
    <mat-panel-title style="font-weight: bold">
      InActive Chits
    </mat-panel-title>
    <mat-panel-description style="font-weight:bold">
      Closed Chits
    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>